PORT=3030
DATABASE=mongodb+srv://codprogmi_db_user:sVMikTs6Uhennls6@cluster0.ojyoy47.mongodb.net/mern?appName=Cluster0
JWT_SECRET=Naushad&565going&%565cF
OTP_TTL_MINUTES=5
SMTP_USER=suicodpro@gmail.com
SMTP_PASS=zljfqnyvfwfvikso
SMTP_PORT=465
SMTP_HOST=smtp.gmail.com
CLIENT_URL=https://codpro-technology.onrender.com/login
